<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bu.cs673.secondhand.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="edu.bu.cs673.secondhand.domain.Admin">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
        <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
        <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, account_number, admin_password, admin_name
    </sql>
    <select id="selectByExample" parameterType="edu.bu.cs673.secondhand.domain.AdminExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from sh_admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sh_admin
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sh_admin
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="edu.bu.cs673.secondhand.domain.AdminExample">
        delete from sh_admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="edu.bu.cs673.secondhand.domain.Admin">
        insert into sh_admin (id, account_number, admin_password,
                              admin_name)
        values (#{id,jdbcType=BIGINT}, #{accountNumber,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR},
                #{adminName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="edu.bu.cs673.secondhand.domain.Admin">
        insert into sh_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="accountNumber != null">
                account_number,
            </if>
            <if test="adminPassword != null">
                admin_password,
            </if>
            <if test="adminName != null">
                admin_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="accountNumber != null">
                #{accountNumber,jdbcType=VARCHAR},
            </if>
            <if test="adminPassword != null">
                #{adminPassword,jdbcType=VARCHAR},
            </if>
            <if test="adminName != null">
                #{adminName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="edu.bu.cs673.secondhand.domain.AdminExample" resultType="java.lang.Long">
        select count(*) from sh_admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sh_admin
        <set>
            <if test="row.id != null">
                id = #{row.id,jdbcType=BIGINT},
            </if>
            <if test="row.accountNumber != null">
                account_number = #{row.accountNumber,jdbcType=VARCHAR},
            </if>
            <if test="row.adminPassword != null">
                admin_password = #{row.adminPassword,jdbcType=VARCHAR},
            </if>
            <if test="row.adminName != null">
                admin_name = #{row.adminName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sh_admin
        set id = #{row.id,jdbcType=BIGINT},
        account_number = #{row.accountNumber,jdbcType=VARCHAR},
        admin_password = #{row.adminPassword,jdbcType=VARCHAR},
        admin_name = #{row.adminName,jdbcType=VARCHAR}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="edu.bu.cs673.secondhand.domain.Admin">
        update sh_admin
        <set>
            <if test="accountNumber != null">
                account_number = #{accountNumber,jdbcType=VARCHAR},
            </if>
            <if test="adminPassword != null">
                admin_password = #{adminPassword,jdbcType=VARCHAR},
            </if>
            <if test="adminName != null">
                admin_name = #{adminName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.bu.cs673.secondhand.domain.Admin">
        update sh_admin
        set account_number = #{accountNumber,jdbcType=VARCHAR},
            admin_password = #{adminPassword,jdbcType=VARCHAR},
            admin_name = #{adminName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByExampleWithRowbounds" parameterType="edu.bu.cs673.secondhand.domain.AdminExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from sh_admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="login" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sh_admin
        WHERE account_number = #{accountNumber} AND admin_password = #{adminPassword}
    </select>
    <select id="getList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sh_admin
        LIMIT #{offset}, #{limit}
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM sh_admin
    </select>
</mapper>